.view-profile-doctor-container {
    display: flex;
    flex-direction: column;
}

.view-profile-doctor-container {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}

.view-profile-doctor-title {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(271.41deg, #3300c4 11.44%, #D68397 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
}

.view-profile-doctor-container b {
    font-size: 16px;
}

.view-profile-doctor-container p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.acc-list-avatar-doctor {
    width: 62px;
    height: 62px;
    border-radius: 12px;
    object-fit: cover;
}