.wrapper-create-days-doctor {
    position: relative;
}

.create-days-doctor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ccc;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.create-days-doctor-form {
    width: 80%;
    margin: 0 auto;
}

.create-days-doctor-form-btn {
    margin-bottom: 24px;
}